input{
    display:block;
    margin:auto;
    padding: 10px;
    margin-top:-170px;
    width:50%;
    border-radius:20px;
    border-top:none;
    border-left: none;
    border-right:none;
    border-bottom:none;
    border-style: solid;
    border-width: 1px;
    border-color:lightgray;
   
    
    
}
img{
    display:block;
    width:29%;
    margin:auto;
    padding: 200px ;
}
input:hover{
   box-shadow: 0 1px 6px rgba(32,33,36,.28);
   border-color: rgba(223,225,229,0);

}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
  
}
li{
    display:inline;
    font-family: arial,sans-serif;
    font-size:15px;
}

.left{
    position:fixed;
    padding:5px;
    left:10px;
}

.right{
    position:fixed;
    padding:5px;
    right:10px;
}

button{
    margin-left:auto;
    margin-right:auto;
   
}
